body {
background-color: black;
}

#addTaskForm {
    margin: 5px;
    border: none;
}

  

/* Basic styles for priority dropdown */
.priority-container {
    position: relative;
    display: inline-block;
}

.priority-display {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.priority-options {
    display: none;
    position: absolute;
    top: 100%; /* Position the options below the dropdown button */
    left: 0; /* Align the options with the starting point of the button */
    border: 1px solid black;
    background-color: #333;
    padding: 5px;
    border-radius: 4px;
    display: flex; /* Arrange items in a row */
    gap: 10px; /* Space between items */
    margin-top: 5px; /* Add slight spacing between button and options */
}

.priority-options div {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    padding: 5px;
}

.priority-options div:hover {
    background-color: #444;
}

.priority-low { background-color: limegreen; }
.priority-default { background-color: gray; }
.priority-medium { background-color: orange; }
.priority-high { background-color: red; }

.priority-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Fade-in effect for showing the check mark */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

/* Fade-out effect for hiding the check mark */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
