body {
    height: 100vh;
    display:flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    font-size: small;
}

.form-control-sm {
    border: 0px;
    width: 100%;
}

.priority-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.priority-low { background-color: limegreen; }
.priority-default { background-color: gray; }
.priority-medium { background-color: orange; }
.priority-high { background-color: red; }

.priority-label {
    display: flex;
    align-items: center;
}

.priority-text {
    font-weight: bold;
    color: white;
}

.task-item {
    position: relative;
    transition: background-color 0.3s;
}

.task-item:hover {
    background-color: #2a2a2a;
}

.task-actions {
    display: none;
}

.task-item:hover .task-actions {
    display: flex;
    gap: 10px;
}

.complete-task {
    color: white;
}

.delete-task {
    color: white;
}