<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show.css') }}">
</head>
<body class="bg-dark text-white">
    <!-- Task List Display with Tabs -->
    <div class="container mt-5">
        <!-- Tabs for Upcoming and Overdue -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#upcoming" data-toggle="tab">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#overdue" data-toggle="tab">Overdue</a>
            </li>
        </ul>
        
        <div class="tab-content mt-3">
            <!-- Upcoming Task Section -->
            {% include 'task_section.html' with context %}
            {% set tab_id = 'upcoming' %}
            {% set tasks = upcoming_tasks %}
            {% set active_tab = True %}
            {% include 'task_section.html' %}

            <!-- Overdue Task Section -->
            {% set tab_id = 'overdue' %}
            {% set tasks = overdue_tasks %}
            {% set active_tab = False %}
            {% include 'task_section.html' %}
        </div>
    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/show.js') }}"></script>
</body>
</html>
